<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>选择登机人</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="../style/main.css" rel="stylesheet" />
    <link href="../style/cpage.css" rel="Stylesheet" />
    <link href="../style/mall.css" rel="Stylesheet" />
    <link href="../style/myctrip.css" rel="Stylesheet" />
    <link href="../style/fpage.css" rel="stylesheet" />
</head>

<body>
    <!--S H5机票_选择登机人-->
    <div id="main" class="h100">
        <div class="main-frame">
            <div class="main-viewport">
                <div class="sub-viewport" id="id_viewport2" page-id="214031" page-url="passengerselect">
                    <div class="p_add_wrap" id="p_select_wrap">
                        <header>
                            <h1>选择登机人</h1><i id="js_return" class="returnico"></i>

                            <div class="rightblue">完成</div>

                        </header>
                        <section class="cont_pd_wrap intrip">
                            <ul class="cfbox paddNone">
                                <li class="light paddNum" id="js_addPassenger">
                                    <span class="add_ico"></span>
                                    <strong>新增登机人</strong>
                                </li>




                                <li class="light js_choose" data-id="696642">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>路人 gg/jj
                                            <br>

                                            <em>护照 1244</em>
                                        </p>
                                        <p class="flight-tips-etp">建议购买儿童票</p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="695568">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_yes"></label>

                                        <p>豆腐 ALEX/ZHAO
                                            <br>

                                            <em>台胞证 123</em>
                                        </p>
                                        <p class="flight-tips-etp">可拨打<em>400-008-6666</em>购买婴儿票</p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="695374">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>测试 IVAN/HUANG
                                            <br>

                                            <em>护照 125</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="696349">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>litter/child
                                            <br>

                                            <em>护照 442000199104103333</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="695581">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>广汇股份 fuckkk/of
                                            <br>

                                            <em>护照 1231234</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="696609">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>大苏打
                                            <br>

                                            <em>台胞证 212</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="696438">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>sum/chen
                                            <br>

                                            <em>护照 999999999</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="696320">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>我是爸爸爸爸的爸爸吧
                                            <br>

                                            <em>护照 19100202</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="695430">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>大股东个
                                            <br>

                                            <em>护照 123</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="696212">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>我是爸爸你是我儿子
                                            <br>

                                            <em>护照 748748</em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="695836">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>携程客户
                                            <br>

                                            <em></em>
                                        </p>
                                    </div>
                                </li>


                                <li class="light js_choose" data-id="695547">
                                    <div class="editBox js_editBox">
                                        <span class="i edit_ico sfr"></span>
                                    </div>
                                    <div class="boa_info js_boa_info  ">

                                        <label class="sel_ico mulselect_no"></label>

                                        <p>我是你大爷
                                            <br>

                                            <em>护照 1132314124</em>
                                        </p>
                                    </div>
                                </li>


                            </ul>

                        </section>
                    </div>
                    <script type="text/template" id="p_select_tpl">
                    < header > < h1 > 选择登机人 < /h1><i id="js_return" class="returnico"></i > <%
                    if (+flightType) { %> < div class = "rightblue" > 完成 < /div>
        <% } %> 
    </header > < section class = "cont_pd_wrap intrip" > < ul class = "cfbox paddNone" > < li class = "light paddNum"
                        id = "js_addPassenger" > < span class = "add_ico sfr" > < /span><strong>新增登机人</strong > < /li>
            
            <% if(typeof passengers != "undefined"){ %>
              <% for(var i=0;i<passengers.length;i++){ %>
                
                <li class="light js_choose" data-id="<%= passengers[i].inforId %>">
                    <div class="editBox js_editBox"><span class="i edit_ico sfr"></span > < /div>
                    <div class="boa_info js_boa_info <%= +flightType ? "" : "s5_boa_info" %> ">
                        <% if(+flightType){  %> 
                            <label class="sel_ico <%= passengers[i].selected && (passengers[i].selected== flightType || passengers[i].selected== -2) ? "mulselect_yes" : "mulselect_no"%>"></label > <%
                    } %> < p > <%= passengers[i].cname %> <%= passengers[i].ename %> < br / >

                     < em > <%= (passengers[i].defaIdCard ? passengers[i].defaIdCard.name : "") %> <%= (passengers[i].defaIdCard ? passengers[i].defaIdCard.no : "") %> < /em></p > < /div>
                </li > <%
                    } %> <%
                    } %> < /ul>
        
    </section >
                    </script>
                </div>
            </div>
            <div class="main-state"></div>
        </div>
    </div>
    <!--E H5机票_选择登机人-->
</body>

</html>
